# Importing pandas

In [1]:
import pandas as pd 
df = pd.read_json( "C:/Users/tejap/Downloads/Arts_Crafts_and_Sewing_5 (1).json",lines=True)
df.sample(10)

C:\Users\tejap\AppData\Local\Temp\ipykernel_18884\3393297509.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

,overall,verified,reviewTime,reviewerID,asin,style,reviewerName,reviewText,summary,unixReviewTime,vote,image
89723,1,True,"05 8, 2017",ABIR34CNFEQOZ,B000WWICKQ,{'Color:': ' Ruby Red'},Cheryl,"This is not red, it's pink! I've never seen a...","If you want red, don't choose Ruby Red!",1494201600,NaN,NaN
412731,5,True,"06 12, 2016",A3PA9P870GXIYS,B01F4ZECZ4,"{'Size:': ' 12 mm, 5 mm'}",Hannah Lambach,"These are great! I love the variety of color, ...",Colors are great; sturdy lobster claws,1465689600,11,NaN
319128,5,True,"04 28, 2014",A1TPROYH6M7LYW,B005WJ7O7Q,NaN,Elaine T Ruiz,I am crocheting afghans for Christmas presents...,The yarn,1398643200,NaN,NaN
200572,5,True,"01 24, 2017",A2NBSRYGL8JY1U,B003XD9962,NaN,Sandra Stewart,Works great.,Five Stars,1485216000,NaN,NaN
113661,5,True,"10 3, 2016",A33QIBGZN61XJB,B0012S4X3E,{'Size:': ' 1 PACK'},L. Findlater,excellent balance of flexibility and difficult...,Five Stars,1475452800,NaN,NaN
128032,3,True,"02 27, 2014",A2L7JNO12I6VO4,B00172XBQA,NaN,Louise Kay,The yardage of the skein was smaller than I ex...,Semi Satisfied,1393459200,NaN,NaN
301506,5,True,"11 25, 2014",A9C1W6TZUOXZS,B00DTR11Q8,NaN,Kindle Customer,For my first easel it is alright I have time ...,For my first easel it is alright I have time ...,1416873600,NaN,NaN
415651,5,True,"05 19, 2017",A3SYXUKJAXLB0C,B01G7KHNWE,{'Color:': ' Watercolor Pan'},D. Wick,love these. cheap and easy to use. nice brus...,perfect,1495152000,NaN,NaN
162523,3,True,"12 28, 2012",ABXFR7173XVDR,B001UCGZXI,NaN,B. Harris,Great deal for the prices (10 bobbins for unde...,great deal...,1356652800,NaN,NaN
329854,5,True,"05 23, 2017",A3S96ENPUQVK5V,B00IYUBWWS,"{'Size:': ' 6mm', 'Color:': ' Australian Zebra...",karen white,"Beautiful, just as described. Great price, fas...",Love them,1495497600,NaN,NaN

# Lexicon Access and Display

In [2]:
from sklearn import preprocessing # Import preprocessing functions from scikit-learn 
import nltk # Import the Natural Language Toolkit library
nltk.download('opinion_lexicon')
from nltk.corpus import opinion_lexicon
from nltk.tokenize import word_tokenize

print('Total number of words in opinion lexicon', len(opinion_lexicon.words()))
print('Examples of positive words in opinion lexicon', # Print the first 10 positive words in the lexicon
      opinion_lexicon.positive()[:10])
print('Examples of negative words in opinion lexicon', # Print the first 10 negative words in the lexicon
      opinion_lexicon.negative()[:10])

Total number of words in opinion lexicon 6789
Examples of positive words in opinion lexicon ['a+', 'abound', 'abounds', 'abundance', 'abundant', 'accessable', 'accessible', 'acclaim', 'acclaimed', 'acclamation']
Examples of negative words in opinion lexicon ['2-faced', '2-faces', 'abnormal', 'abolish', 'abominable', 'abominably', 'abominate', 'abomination', 'abort', 'aborted']

[nltk_data] Downloading package opinion_lexicon to
[nltk_data]     C:\Users\tejap\AppData\Roaming\nltk_data...
[nltk_data]   Package opinion_lexicon is already up-to-date!

# Creating a dictionary

In [3]:
# Let's create a dictionary which we can use for scoring our review text
nltk.download('punkt')
df.rename(columns={"reviewText": "text"}, inplace=True)
pos_score = 1
neg_score = -1
word_dict = {}
 
# Adding the positive words to the dictionary
for word in opinion_lexicon.positive():
        word_dict[word] = pos_score
      
# Adding the negative words to the dictionary
for word in opinion_lexicon.negative():
        word_dict[word] = neg_score

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\tejap\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

# Binglu Score

In [4]:
def bing_liu_score(text):
    sentiment_score = 0 # Initialize sentiment score to 0
    bag_of_words = word_tokenize(text.lower())
    for word in bag_of_words: # Iterate through each word in the text
        if word in word_dict:
            sentiment_score += word_dict[word]
    return sentiment_score  # Return the final sentiment score

In [5]:
df['text'].fillna('no review', inplace=True)
df['Bing_Liu_Score'] = df['text'].apply(bing_liu_score)

C:\Users\tejap\AppData\Local\Temp\ipykernel_18884\3064231398.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['text'].fillna('no review', inplace=True)

In [6]:
df[['overall',"text", 'Bing_Liu_Score']].head(10)

   overall                                               text  Bing_Liu_Score
0        4                Contains some interesting stitches.               1
1        5  I'm a fairly experienced knitter of the one-co...              22
2        4  Great book but the index is terrible. Had to w...               0
3        5  I purchased the Kindle edition which is incred...               4
4        5  Very well laid out and very easy to read.\n\nT...               5
5        5  Beginning her career as a freelance knitter, M...              15
6        5  This is a terrific stitch handbook (and I have...               9
7        4  The book needs to be coil bound. The content i...               1
8        5  I really am enjoying this book! I like the siz...              12
9        5  Just received this book and looked over it cov...               6

In [7]:
df.groupby('overall').agg({'Bing_Liu_Score':'mean'})

         Bing_Liu_Score
overall
1             -0.255049
2              0.566098
3              1.158796
4              2.028146
5              2.130005